.padded {
    padding-left: 5%;
    padding-right: 20%;
}
header {
    background-color: grey;
    border-style: solid;
    margin: 0px;
    top: 0;
}
body {
    margin: 0px;
}
h1 {
    font-size: 25pt;
    color: black;
}
p, li {
    font-size: 15pt;
}
a {
    font-style: inherit;
}