.padded {
    padding-left: 5%;
    padding-right: 20%;
}
header {
    background-color: #CCCCCC;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 1px 0px 10px 0px;
    margin: 0px;
    top: 0;
}
body {
    margin: 0px;
    color:#222222;   
}
h1 {
    font-size: 40pt;
    color: black;
}
h2 {
    font-size: 25pt;
}

h3 {
    font-size:18pt;
    text-decoration:underline;
}
h4 {
    font-size:18pt;
}

p, li {
    font-size: 15pt;
    margin-bottom:1em;
    line-height: 1.3em;
}

p.important {
    background-color:#FFCCCC;
    padding:1em;
}

a, a:visited {
    color:#2218A7;
}

blockquote {
    font-family: 'Courier New', Courier, monospace;
    font-size:14pt;
}

table {
    border: 1px solid black;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

OL.nav_bar {
    padding:0px;
}

OL.nav_bar LI {
    display:inline-block;
    margin-right:30px;
    font-size:20px;
}

header A {
    text-decoration:none;
}

header A:hover {
    text-decoration:underline;
}
.red {
    color: red;
}

img {
    width: 250px;
    height: auto;
    max-width: 100%;
}